<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    
    
    
    </script>
    
    
    <title>Get Dat Gold</title>
</head>
<body>

<div class="Wrapper">

    <h3>Gold</h3> {{session['gold']}}

    <div class="Contain">
            <form class="center" action='/processgold' method='post'>
                <h3>Farm</h3>
                <p>(earns 10 to 20 golds)</p>
                <input hidden class="text" value="farm" name='building'> <br/>
                <button type="submit">Find Gold!</button>
            </form>

            <form class="center" action='/processgold' method='post'>
                <h3>Cave</h3>
                <p>(earns 5 to 10 golds)</p>
                <input hidden class="text" value="cave" name='building'> <br/>
                <button type="submit">Find Gold!</button>
    
            </form>

            <form class="center" action='/processgold' method='post'>
                <h3>House</h3>
                <p>(earns 2 - 5 golds)</p>
                <input hidden class="text" value="house" name='building'> <br/>
                <button type="submit">Find Gold!</button>
            </form>

            <form class="center" action='/processgold' method='post'>
                <h3>Casino</h3>
                <p>(earns/takes 0 - 50 golds)</p>
                <input  hidden class="text" value="casino" name='building'> <br/>
                <button type="submit">Find Gold!</button>
            </form>
    </div>
    <form class="center" action='/log' method='POST'>
        <h3>Activities</h3>
         <div class="activities">
         {% if session['log'] %}
        
             {% for earning in session['activities'] %}
             <p>{{ earning }}</p>
             {% endfor %}
         
         {% endif %}
        </div>
</div>
   
</body>
</html>