<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    link rel="stylesheet" href="/static/surveyform_app/styles/results.css" media"screen" title="no title" charset="utf-8">
    <title>SurveyResults</title>
</head>
<body>
    <div class="contain">     
            <fieldset>
                <legend>Dojo Survey</legend>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <ul>
                <li>{{message}}</li>
                </ul>
                {% endfor %}
                {% endif %}
                    {% endwith %}
                Full Name: <p name='input'value='comment'name='name'>{{name}}</p>
                Dojo Location:<p name='input'value='comment'name='location'>{{location}}</p>
                Favorite Language: <p name='input'value='comment'name='language'>{{language}}</p>
                Comment: <p name='input' class="comment" value='comment'name='comment'>
                    {% with messages = get_flashed_messages() %}
                    {{comment}}</p> 
                    {% endwith %}
                <form action="/" methods="get">
                <input class="align" type='submit' value='Go Back' id="narrow">
            </form>
    
            </fieldset>
    
        </div> 
</body>
</html>