<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/surveyform_app/styles/index.css" media"screen" title="no title" charset="utf-8">
    <title>SurveyForm</title>
</head>
<body>
    

    <div id="contain">
            <fieldset>
                <h1>Dojo Survey</h1>
       
                <form action="/process" method="post">
                {% csrf_token %}
               <label for="name">First Name: </label>
            <input type="text" name ="name" value='first/middle/last'><br>
               <label for="location"> Dojo Location:</label>
                <select name="location" class= "line_em" > 
                    <option value=""></option name='chosen'>
                    <option value="Chicago">Chicago</option name='chosen'>
                    <option value="Dallas">Dallas</option name='chosen'>
                    <option value="Seattle">Seattle</option name='chosen'>
                    <option value="Mars">Mars</option name='chosen'>   
                </select> 
                <label for="language"> Favorite Language:</label>
                <select name ="language" class= "line_em">
                     <option value=""></option name='chosen'>
                    <option value="Python">Python</option name='chosen'>
                    <option value="Javascript">Javascript</option name='chosen'>
                    <option value="Html/CSS">Html/Css</option name='chosen'>
                    <option value="Java">Java</option name='chosen'>
                </select>
                <label for="name">  Comment (optional)</label>
               <textarea  type="text" name="comments" id="comment_input" value="Must be less than 120 characters"></textarea><br>
                <input type='submit' value='submit' id="narrow">
                </form>
            </fieldset>
            </div>
    
</body>
</html>