body{
    margin: 0px auto;
    background-color: tan;
    font-weight: 20px;
    font-family: Courier New, Courier, monospace;
    text-align: center;
    box-shadow: 20px black;
}

#wrapper {
    font-size: 30px;
    text-align: center;
    margin-left: 300px;
    width: 400px;

}

.btn {
    width: 70px;
    color: black;
    display: inline;
    background-color: white;
    
}