body {
    color: red;
    
}
* {
    margin: 0px auto;
    padding: 0px auto; 
}
.Upper {
    text-align: center;
    margin-left: 100px;
    padding: 10px;

}

h1{
    margin: 20px 0px;
    display: block;
    font-style: italic;
    font-family: Courier New, Courier, monospace;
    font-weight: 20px;
}

form {
    display: block;
    margin: 20px;
}

button {
    border-radius: 5px;
    background-color: white;
    width: 10em;
    height: 3em;
    font-size: 10px;
    font-family: Courier New, Courier, monospace;
    display: block;
}

input {
    height: 20px;
    width: 20px;
    display: block;
}

h2 {
    font-size: 200px;
}
h3 {
    font-size: 200px;
}