<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/amadon_app/styles/index.css" media"screen" title="no title" charset="utf-8">
    <title>Amadon</title>
</head>
<body>
    <h1>Amadon Store</h1>
    <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <form action="/buy/{{ item.id }}" method="POST">
                            {% csrf_token %}
                            <select name='quantity'>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                            <button type="submit">Purchase</button>
                            
                        </form>
                        <button type="submit" method="POST">clear</button>
                    </td>
                </tr>
                {% endfor %}

</body>
</html>