<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/static/styles/counter.css') }}">
    <title>Counter</title>
</head>
<body>
    <h1 class="contain">Counter</h1>
    <p class="contain">This page has been visited {{visits}} times.</p>
    <input type="hidden" name="action" value="counter" method="post">

      
    </form>
</body>
</html>