<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login_app/styles/success.css" media"screen" title="no title" charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="container">
    <div id="formform">
        <h2>Finally {{request.session.name}}, {{user.first_name}} {{user.last_name}} you made it to the success page! You made it. You did it. You have successfully logged in</h2>
        <a href="/logout">Logout</a>
    </div>



</body>
</html>