<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me</title>
</head>
<body>

   <p>Hi I'm Nina, I need to get better at calming the heck down so
    I can process what I'm looking at in Visual Studio and not have so many 
    dang errors (haste makes shitty code) This way, I can be a self sufficent human 
    as well as a self sufficentc coder. You ever been so worked up you've 
    accidentily tried to eat cereal with a spoon? I have! that's just not efficient.
    </p>
    
</body>
</html>