
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p>{{ messages }}</p>
        {% endif %}
    {% endwith %}

    <h1>Enter An Email!</h1>
    <form action="/email" method="POST">
        Email Address: <input type="text" name="email">
        <input type="submit">
    </form>
</body>
</html>